* {
  font-size: 16pt;
  font-family: "Iowan Old Style", "Hoefler Text", serif;
  font-kerning: normal;
}

body {
  color: #005;
  background-color: #fefefe;
  line-height: 2.0;
  background-image: url("/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  height: 200px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  width: 1090px;
}

h1{
  text-align: center;
  color: white;
  font-size: 50px;
}

h2{
  margin: 0em;
  width: 100%;
}

nav {
  margin: 10px auto;
  width: 1090px;
  
}

nav ul li a {
  margin: 25px 125px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul a {
  background-color: rgba(59, 244, 122, 0.8);
  border-color: #FFF;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica, sans-serif;
  color: #FFF;
  padding: 0 20px;
  font-size: 125%;
  display: block;
    
}

nav ul a:hover {
  background-color: rgba(59, 49, 235, 0.8);
  border-color: rgba(19, 2, 75, 0.8);
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  color: #FFF;
}

label {
  display: inline-block;
  text-align: right;
  padding: 0 0.5em;
  width: 10%;
}

input {
  display: inline-block;
  vertical-align: middle;
  width: 70%;
}

main {
  background-color: #eee;
  margin: 5em auto;
  width: 100%;
  text-align: center; 
  border-radius: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #007bff;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}