* {
  font-size: 16pt;
  font-family: "Iowan Old Style", "Hoefler Text", serif;
  font-kerning: normal;
}

body {
  color: #005;
  background-color: #fefefe;
  line-height: 1.2;
}

label {
  display: inline-block;
  text-align: right;
  padding: 0 0.5em;
  width: 10%;
}

input {
  display: inline-block;
  vertical-align: middle;
  width: 70%;
}

main {
  background-color: #eee;
  margin: 3em auto;
  width: 50%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #007bff;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}