* {
  font-size: 16pt;
  font-family: "Arial", "Courier New", "Brush Script";
  font-kerning: normal;
}

body {
  color: #005;
  background-color: #fefefe;
  line-height: 2.0;
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
div {
  background-color: #3EB6F0;
  text-align: center;
  color: #000;
}

header {
  height: 200px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  width: 1090px;
}

form {
  background-color: #3EB6F0;
  border-color: #FFF;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-family: "Arial", "Courier New", "Brush Script";
  color: #000;
  padding: 0 20px;
  font-size: 125%;
  display: block;
}

h1{
  text-align: center;
  color: #FFF;
  font-size: 50px;
}

h2{
  margin: 0em;
  width: 100%;
  background-color: #3EB6F0;
}

h3{
  text-align: center;
  color: #EF9932;
  font-size: 50px;
}

nav {
  margin: 10px auto;
  width: 1090px;
}

nav ul li a {
  margin: 25px 125px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul a {
  background-color: #56F06d;
  border-color: #FFF;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-family: "Courier New", "Arial", "Brush Script";
  color: #000;
  padding: 0 20px;
  font-size: 125%;
  font-weight: 900;
  display: block;
    
}

nav ul a:hover {
  background-color: rgba(59, 49, 235, 0.8);
  border-color: rgba(19, 2, 75, 0.8);
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  color: #FFF;
}

label {
  display: inline-block;
  text-align: right;
  padding: 0 0.5em;
  width: 10%;
}

input {
  display: inline-block;
  vertical-align: middle;
  width: 70%;
}

main {
  background-color: #3EB6F0;
  margin: 5em auto;
  width: 100%;
  text-align: center; 
  border-radius: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #3EB6F0;
  color: black;
}

tr:nth-child(even) {
  background-color: #F0EAAD;
}

tr:nth-child(odd) {
  background-color: #EF9932;
}

tr:hover {
  background-color: #9E81F0;
}
