<!-- trips.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>All Trips</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link type="text/css" href="../../public/site.css">
  </head>
  <body id="body">
    <h1>All Trips</h1>
    <table>
      <thead>
        <tr>
          <th>Trip ID</th>
          <th>Origin</th>
          <th>Destination</th>
          <th>Departure Time</th>
        </tr>
      </thead>
      <tbody>
        <% trips.forEach(function(trip) { %>
          <tr>
            <td><%= trip.id %></td>
            <td><%= trip.origin %></td>
            <td><%= trip.destination %></td>
            <td><%= trip.departure_time %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </body>
</html>